.home__maclouf {
    display: block;
    border-radius: 50%;
	width: 100px;
	height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px dashed black;
}

.home__blockquote::first-letter {
    text-transform: uppercase;
}
